<div class="queue">
  {{ leftNumber }} {{ currentOperation }} {{ rightNumber }}
</div>
<input class="display" data-testid="display" readonly [value]="displayValue" />
<section class="button-group">
  <app-calculator-button
    [type]="ButtonType.PERCENT"
    testId="button-percent"
    (buttonClick)="updateOperation(operations.PERCENT)"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.POWER"
    testId="button-power"
    (buttonClick)="updateOperation(operations.POWER)"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.CLEAR"
    testId="button-clear"
    (buttonClick)="clearAll()"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.REMOVE"
    testId="button-remove"
    (buttonClick)="removeSingleDigit()"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.SQRT"
    testId="button-sqrt"
    (buttonClick)="updateOperation(operations.SQRT)"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.FACTORIAL"
    testId="button-factorial"
    (buttonClick)="updateOperation(operations.FACTORIAL)"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.DIVISION"
    testId="button-divide"
    (buttonClick)="updateOperation(operations.DIVISION)"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.DIVISION"
    testId="button-divide"
    (buttonClick)="updateOperation(operations.DIVISION)"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.NUMBER"
    [value]="'7'"
    testId="button-seven"
    (buttonClick)="updateValue('7')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.NUMBER"
    [value]="'8'"
    testId="button-eight"
    (buttonClick)="updateValue('8')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.NUMBER"
    [value]="'9'"
    testId="button-nine"
    (buttonClick)="updateValue('9')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.MULTIPLICATION"
    testId="button-multiplicate"
    (buttonClick)="updateOperation(operations.MULTIPLICATION)"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.NUMBER"
    [value]="'4'"
    testId="button-four"
    (buttonClick)="updateValue('4')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.NUMBER"
    [value]="'5'"
    testId="button-five"
    (buttonClick)="updateValue('5')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.NUMBER"
    [value]="'6'"
    testId="button-six"
    (buttonClick)="updateValue('6')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.SUBTRACTION"
    testId="button-substract"
    (buttonClick)="updateOperation(operations.SUBSTRACTION)"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.NUMBER"
    [value]="'1'"
    testId="button-one"
    (buttonClick)="updateValue('1')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.NUMBER"
    [value]="'2'"
    testId="button-two"
    (buttonClick)="updateValue('2')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.NUMBER"
    [value]="'3'"
    testId="button-three"
    (buttonClick)="updateValue('3')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.ADDITION"
    testId="button-addition"
    (buttonClick)="updateOperation(operations.ADDITION)"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.SIGN"
    testId="button-sign"
    (buttonClick)="switchSign()"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.NUMBER"
    [value]="'0'"
    testId="button-zero"
    (buttonClick)="updateValue('0')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.DOT"
    testId="button-dot"
    (buttonClick)="updateValue('.')"
  ></app-calculator-button>
  <app-calculator-button
    [type]="ButtonType.EQUALS"
    testId="button-calculate"
    (buttonClick)="calculateExpression()"
  ></app-calculator-button>
</section>
